 <%- include('./partials/head') %>
 


 <div class="card">
    

    <section class="image">
        <img src="images/IMG_3584.jpg" alt="">
    </section>

 


<section class="name">
<h1><%= data.name %></h1>
<h1><%= data.surname %></h1>
</section>

<section class="colormode">
    <button> 🌞 </button>

</section>

<section class="bio">
   <%- data.bio %> 
</section>


<section class="socials">
<ul>
    <li> <a href=""></a> Instagram</li>
    <li> <a href=""></a> Github</li>
    <li> <a href=""></a> Website</li>
    <li> <a href=""></a> linkedIn </li>
</ul>
</section>

</div>


<div class="inner-cursor"></div>

<script src="/script/script.js"></script>

<%- include('./partials/foot') %>


