 <%- include('./partials/head') %>

 <div class="animation-wrapper">
   <div class="particle particle-1"></div>
   <div class="particle particle-2"></div>
   <div class="particle particle-3"></div>
   <div class="particle particle-4"></div>
 </div>

 <article class="card">
    

    <section class="divider">
        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 L 0,150 C 31.8994473357546,182.95443220433526 63.7988946715092,215.90886440867052 107,209 C 150.2011053284908,202.09113559132948 204.70386864971778,155.31897456965322 260,150 C 315.2961313502822,144.68102543034678 371.3856307296196,180.81523731271662 415,168 C 458.6143692703804,155.18476268728338 489.7536084318041,93.42007617948042 530,78 C 570.2463915681959,62.57992382051959 619.5999355431641,93.50445796936177 656,98 C 692.4000644568359,102.49554203063823 715.84664939554,80.56209194307257 761,82 C 806.15335060446,83.43790805692743 873.0134668746758,108.24717425834794 926,139 C 978.9865331253242,169.75282574165206 1018.0994831057569,206.44921102353564 1051,194 C 1083.900516894243,181.55078897646436 1110.5886007022962,119.95598164750963 1160,118 C 1209.4113992977038,116.04401835249037 1281.5461140850582,173.7268623864258 1332,189 C 1382.4538859149418,204.2731376135742 1411.2269429574708,177.1365688067871 1440,150 L 1440,400 L 0,400 Z" stroke="black" stroke-width="8" fill-opacity="0" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
    </section>
<!-- 
    <section class="dividerdm">
        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 L 0,150 C 31.8994473357546,182.95443220433526 63.7988946715092,215.90886440867052 107,209 C 150.2011053284908,202.09113559132948 204.70386864971778,155.31897456965322 260,150 C 315.2961313502822,144.68102543034678 371.3856307296196,180.81523731271662 415,168 C 458.6143692703804,155.18476268728338 489.7536084318041,93.42007617948042 530,78 C 570.2463915681959,62.57992382051959 619.5999355431641,93.50445796936177 656,98 C 692.4000644568359,102.49554203063823 715.84664939554,80.56209194307257 761,82 C 806.15335060446,83.43790805692743 873.0134668746758,108.24717425834794 926,139 C 978.9865331253242,169.75282574165206 1018.0994831057569,206.44921102353564 1051,194 C 1083.900516894243,181.55078897646436 1110.5886007022962,119.95598164750963 1160,118 C 1209.4113992977038,116.04401835249037 1281.5461140850582,173.7268623864258 1332,189 C 1382.4538859149418,204.2731376135742 1411.2269429574708,177.1365688067871 1440,150 L 1440,400 L 0,400 Z" stroke="#f7f4ea" stroke-width="8" fill-opacity="0" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>
    </section> -->

    <section class="image">
        <img src="images/IMG_3549.jpeg" class="imagedamian" alt="Damian" >
    </section>


    <section class="name">
        <h1><%- data.name %> <%- data.surname %></h1>
    </section>

    <section class="bio">
     <%- data.bio %> 
    </section>


    <section class="socials">
    <ul>
        <li><a href="https://www.instagram.com/damianromeijn" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
        <li><a href="<%= data.github_handle %>" target="_blank"><i class="fa-brands fa-github" style="color: #000000;"></i></a></li>
        <li><a href="<%= data.website %>" target="_blank"><i class="fa-solid fa-globe" style="color: #000000;"></i></a></li>
        <li><a href="https://www.linkedin.com/in/damianromeijn" target="_blank"><i class="fa-brands fa-linkedin" style="color: #000000;"></i></a></li>

    </ul>
    </section>

    <!-- <section class="socialsdm">
        <ul>
            <li><a href="https://www.instagram.com/damianromeijn" target="_blank"><i class="fa-brands fa-instagram" style="color: #F7F4EA;"></i></a></li>
            <li><a href="<%= data.github_handle %>" target="_blank"><i class="fa-brands fa-github" style="color: #F7F4EA;"></i></a></li>
            <li><a href="<%= data.website %>" target="_blank"><i class="fa-solid fa-globe" style="color: #F7F4EA;"></i></a></li>
            <li><a href="https://www.linkedin.com/in/damianromeijn" target="_blank"><i class="fa-brands fa-linkedin" style="color: #F7F4EA;"></i></a></li>
    
        </ul>
        </section> -->

 </article>


<div class="inner-cursor"></div>

<script src="/script/script.js"></script>

<%- include('./partials/foot') %>


